.aboutPageContainer {
  position: relative;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 1%;
  padding-top: 5%;
  background-color: #666565;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.aboutCardContainer {
  height: 100%;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  overflow-x: hidden;
  overflow-y: auto;
}
