.searchBar {
  position: relative;
  height: 30px;
  min-height: 30px;
  max-height: 30px;
  background-color: #666565;
  left: 3%;
  border: none;
  padding: 5px 10px;
  outline: none;
  border-bottom: 1px solid #dc6b4b;
  color: #fdeebc;
  z-index: 4;
}

::placeholder {
  color: #fdeebc;
  opacity: 0.6;
}
