.counterPageContainer {
  position: relative;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 1%;
  padding-top: 5%;
  background-color: #666565;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.counterContainer {
  margin: auto;
  display: flex;
  flex-direction: column;

  span {
    padding: 0 0 20px;
    font-size: 100px;
    font-weight: 500;
  }
}

.counter {
  width: 500px;
  height: 500px;
  background-color: #dc6b4b;
  font-size: 300px;
  font-weight: bold;
  border-radius: 50%;
  color: #000;
}

.counter::after {
  content: "+1";
}

.counter:hover {
  cursor: pointer;
  color: rgb(194, 200, 206);
}
