.pokemonCard {
  width: 100%;
  height: 100% !important;
  min-width: 200px;
  min-height: 180px;
  max-height: 180px;
  border-radius: 5px;
}

.pokemonCard:hover {
  cursor: pointer;
}

.pokemonCardName {
  display: inline-block;
  width: 100%;
  color: #fdebaf;
  font-size: 16px;
  font-weight: 500;
}

.pokemonCardTypes {
  flex-flow: row wrap;
  justify-content: space-between;
}

.pokemonType {
  display: inline-block;
  width: 38%;
  border-radius: 5px;
  padding: 3px 7px;
  color: black;
  margin: 5px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
  opacity: 0.8;
  text-align: center;
}

@media screen and (min-width: 1632px) {
}

@media screen and (max-width: 1632px) {
}

@media screen and (max-width: 1300px) {
}

@media screen and (max-width: 1172px) {
}

@media screen and (max-width: 1068px) {
}

@media screen and (max-width: 950px) {
}

@media screen and (min-width: 60em) {
}

@media screen and (min-width: 40em) {
}
