@import "./variables.css";

.pageContainer {
  position: relative;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 1%;
  padding-top: 80px;
  /* background-image: linear-gradient(
      to bottom,
      rgba(102, 101, 101, 0) 0px,
      rgba(102, 101, 101, 0.5) 500px,
      rgba(102, 101, 101, 1) 800px
    ),
    url("../background.jpg");
  background-size: contain;
  background-repeat: no-repeat;*/
  background-color: var(--page-background);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-color: var(--page-background);
}

.pokemonPageTop {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100px;
  width: 100%;
  margin: 50px 0 0 0;
}

.generationFilter {
  background-color: var(--matte-midnight-blue);
  border: none;
  border-bottom: 1px solid #89acd4;
  color: var(--pale-silver);
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  right: 5%;
  z-index: 4;
}

.pageButtons {
  position: relative;
  z-index: 4;
  margin: 0 auto;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.nextBackButtons {
  width: 100px;
  height: auto;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-button--background-color);
  opacity: 0.9;
  color: var(--primary-button--color);
  margin: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nextBackButtons:hover {
  background-color: var(--primary-button--hover--background-color);
  color: var(--primary-button--hover--color);
}

.pokemonListAndDataContainer {
  display: flex;
  flex-direction: row;
  position: relative;
}

.cardContainer {
  height: 100%;
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin: 0 auto 0 auto;
}

.pokemonCardSection {
  max-height: 191.55px;
  min-width: 200px;
  max-width: 400px;
  flex: 1 1 calc(20% - 20px);
}
