@import "./variables.css";

.sidebarContainer, .hideSidebarContainer {
  background-color: var(--elevation-one);
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  height: 1050px;
  min-height: 800px;
  position: sticky;
  -webkit-transition: width 0.4s ease-in-out;
  -moz-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  /* max-width: 714.5px;
  min-width: 367.5px; */
  top: 150px;
  overflow: hidden;
  display: flex;

  .sidebarContents {
    position: relative;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    height: 100%;
    width: 100%;
    scrollbar-width: thin;
    scrollbar-color: #dc6b4b var(--elevation-one);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .sidebarTitle-h2 {
      color: var(--ivory);
      display: inline-block;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 32px;
      transition: 0.5s;
    }

    .closeButton {
      color: #3f3f3f;
      font-size: 26px;
      font-weight: 600;
      position: absolute;
      right: 0;
      top: 0;
      transition: color ease-in-out 0.3s;
    }

    .closeButton:hover {
      cursor: pointer;
      transition: color ease-in-out 0.3s;
      color: var(--ivory);
    }

    .emptyTypeMatchupList {
      background-color: var(--elevation-two);
      border-radius: 30px;
      font-size: 13px;
      font-weight: 600;
      margin: 1px auto;
      opacity: 0.8;
      padding: 13px;
      text-align: center;
    }

    .pokemon_Evolution_Box:hover {
      background-color: var(--elevation-two--hover);
      color: #fff;
    }

    .abilityHeightWeight {
      justify-content: space-evenly;

      .abilityContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        margin-bottom: 8px;

        section {
          display: flex;
          gap: 2px;
          font-size: 12px;
          font-style: italic;
          color: var(--ivory);

          .abilityBox {
            border-radius: 25px;
            color: #000;
            font-size: 13px;
            font-weight: 600;
            font-style: normal;
            opacity: 0.8;
            text-align: center;
            min-width: 80px;
            max-width: 150px;
            min-height: 30px;
            max-height: 60px;
            margin: 5px;
            padding: 6px;
            background-color: var(--elevation-two);
            transition: 0.5s;
            cursor: pointer;
          }

          .abilityBox:hover {
            background-color: var(--elevation-two--hover);
            color: #fff;
          }
        }
      }

      .abilityData {
        background-color: var(--elevation-two);
        border-radius: 25px;
        cursor: pointer;
        font-size: 13px;
        font-weight: 500;
        margin: 5px;
        margin-left: auto;
        margin-right: auto;
        max-height: 250px;
        min-width: 80px;
        padding: 8px;
        transition: 0.5s;
        opacity: 0.8;
        text-align: center;
      }

      .pokemon_height_weight_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        margin-bottom: 8px;
        transition: 0.5s;
      }

      .pokemon_height_weight_box {
        border-radius: 25px;
        min-width: 60px;
        max-width: 60px;
        font-size: 13px;
        font-weight: 600;
        opacity: 0.8;
        min-height: 30px;
        max-height: 60px;
        margin: 5px;
        padding: 6px;
        background-color: var(--elevation-two);
        transition: 0.5s;
      }
    }

    .pokemon_Evolution_Box,
    .pokemon_NO_Evolution_Box {
      background-color: var(--elevation-two);
      border-radius: 25px;
      font-size: 13px;
      font-weight: 600;
      margin: 1px;
      min-height: 30px;
      max-height: 60px;
      opacity: 0.8;
      padding: 5px 10px 5px 10px;
      transition: 0.5s;
    }

    .pokemon_Evolution_Box {
      cursor: pointer;
      margin-bottom: auto;
      margin-top: auto;
    }

    .pokemon_Evolution_Box_Container {
      display: flex;
    }

    .pokemon_Evolution_Container {
      display: flex;
      justify-content: center;
      margin-bottom: 8px;
      text-align: center;
      transition: 0.5s;
      vertical-align: middle;
    }

    .pokemon_Evolution_Method_Box,
    .pokemon_Inner_Evolution_Method_Box {
      align-items: center;
      color: var(--elevation-two);
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      font-size: 12px;
      font-weight: 600;
      height: auto;
      max-width: 90px;
      min-width: 40px;
      text-align: center;
      transition: 0.5s;
      justify-content: center;
    }

    .pokemon_Evolution_Method_Box {
      margin: 1px;
      padding: 6px 6px 0 6px;
      opacity: 0.8;
      min-height: 40px;
    }

    .sidebarHeader {
      color: var(--ivory);
      font-size: 26px;
    }

    .sidebarSubHeader {
      color: var(--ivory);
      font-size: 20px;
    }

    .sidebarDescription {
      color: var(--gainsboro);
      margin-bottom: 8px;
      transition: 0.5s;
    }

    .sidebar_pokemonCardTypes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
      transition: 0.5s;
    }

    .sidebar_pokemonType {
      border-radius: 5px;
      color: black;
      display: inline-block;
      font-size: 13px;
      font-weight: 600;
      margin: 10px 5px;
      opacity: 0.8;
      padding: 3px 7px;
      text-align: center;
      transition: 0.5s;
      width: 20%;
    }

    .split_Evolution_Box_Container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .statContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0 auto 8px;
      transition: 0.5s;
      flex-wrap: wrap;

      .statBox {
        background-color: var(--elevation-two);
        border-radius: 25px;
        font-size: 11px;
        font-weight: 600;
        height: 60px;
        opacity: 0.8;
        padding: 8px;
        text-align: center;
        transition: 0.5s;
        width: fit-content;
      }

      .statNumber {
        border-radius: 25px;
        text-align: center;
        transition: 0.5s;
      }

      .statTitle {
        border-radius: 30px;
        padding: 5px;
        text-align: center;
        transition: 0.5s;
      }
    }

    .typeMatchup {
      border-radius: 30px;
      font-size: 13px;
      font-weight: 600;
      margin: 1px;
      padding: 10px;
      text-align: center;
      transition: 0.5s;
      display: flex;
      flex-direction: row;
      gap: 4px;
    }

    .typeName {
      max-width: 70%;
      min-width: 60%;
      text-align: center;
      align-content: center;
      flex-wrap: wrap;
      color: #fff;
    }

    .typeMultiplier {
      border-radius: 40px;
      padding: 3px;
      text-align: center;
      background-color: #fff;
      max-width: 40%;
      min-width: 30%;
    }

    .typeMatchupsContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .typeMatchupsContainer-column {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 5px;
      width: 100%;
    }
  }
}

@media (max-width: 459px) {
  .sidebarContainer,
  .hideSidebarContainer {
    margin: 20px 0 0;
    max-height: 90vh;

    .sidebarContents {
      padding: 25px 8px 8px;
      max-height: 100vh;

      .closeButton {
        margin: 0 2% 0;
      }

      .statContainer {
        gap: 4px;
      }

      .pokemon_Evolution_Container {
        flex-direction: column;

        .pokemon_Evolution_Box, .pokemon_Evolution_Method_Box {
          width: 50%;
          margin: 0 auto;
        }
      }

      .abilityHeightWeight {
        display: flex;
        flex-direction: column;

        .abilityContainer {
          section {
            flex-direction: column;
          }
        }
      }

      .typeMatchup {
        max-width: 48%;
        min-width: 48%;
      }

      .location-game-data {
        flex-direction: column;

        h5 {
          width: 33%;
        }

        .location-routes {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 768px) and (min-width: 460px) {
  .sidebarContainer,
  .hideSidebarContainer {
    margin: 20px 0 0 0;

    .closeButton {
      margin-right: 7.5%;
      margin-top: 2%;
    }

    .sidebarContents {
      .statContainer {
        gap: 8px;
      }

      .pokemon_Evolution_Container {
        flex-direction: row;

        .pokemon_Evolution_Box {
          max-width: 280px;
          min-width: 40px;
        }
      }

      .abilityHeightWeight {
        display: flex;
        flex-direction: row;
        margin: 15px 0 10px;
        justify-content: space-evenly;

        .abilityContainer {
          section {
            flex-direction: column-reverse;
          }
        }
      }

      .typeMatchup {
        max-width: 24%;
        min-width: 24%;
      }
    }
  }
}

@media (min-width: 769px) {
  .sidebarContainer,
  .hideSidebarContainer {
    margin: 76px 0 0 ;

    .closeButton {
      margin-right: 7.5%;
      margin-top: 2%;
    }

    .statContainer {
      gap: 8px;
    }

    .pokemon_Evolution_Container {
      flex-direction: row;

      .pokemon_Evolution_Box {
        max-width: 280px;
        min-width: 40px;
      }
    }

    .abilityHeightWeight {
      display: flex;
      flex-direction: row;

      .abilityContainer {
        section {
          flex-direction: column-reverse;
        }
      }
    }

    .typeMatchup {
      max-width: 24%;
      min-width: 24%;
    }
  }
}
