@import "./variables.css";

.searchContainer {
  left: 3%;
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.searchBar {
  height: 30px;
  min-height: 30px;
  max-height: 30px;
  background-color: var(--matte-midnight-blue);
  border: none;
  padding: 0 40px 0 5px;
  outline: none;
  border-bottom: 1px solid #89acd4;
  color: var(--pale-silver);
  width: 90%;
  box-sizing: border-box;
}

.searchClear {
  color: #3f3f3f !important;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  right: 30px;
  cursor: pointer;
  z-index: 10;
}

::placeholder {
  color: var(--pale-silver);
  opacity: 0.6;
}
